__pycache__/
.ipynb_checkpoints/
.env
.parquet
.npy
.csv
.tsv
artifacts/wandb/
docker-compose.yml
*.pyc
*.log
*.parquet
*.db
.virtual_documents/
notebooks/wandb/
notebooks/fe/AutogluonModels/